@charset "UTF-8";
.section {
  position: relative;
  height: 810px;
}
.section img {
  position: absolute;
  top: 260px;
  width: 601px;
  height: 400px;
}
.section .bg1 {
  position: absolute;
  top: 200px;
  left: 537px;
  width: 146px;
  height: 522px;
  background: -webkit-linear-gradient(left, #16bbb7, #38d5d1);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #16bbb7, #38d5d1);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #16bbb7, #38d5d1);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #16bbb7, #38d5d1);
  /* 标准的语法 */
  z-index: -100;
}
.section .bg1 p {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 116px;
  height: 493px;
  background: #fff;
}
.section .bg2 {
  position: absolute;
  top: 260px;
  right: 0;
  width: 532px;
  height: 400px;
  background-color: #16bbb7;
  padding-top: 69px;
  padding-left: 48px;
}
.section .bg2 p {
  font-size: 14px;
  line-height: 36px;
  color: #fff;
}
