@charset "UTF-8";
@keyframes myfirst {
  0% {
    left: 0;
  }
  100% {
    left: -615px;
  }
}
@-webkit-keyframes myfirst {
  /* Safari 与 Chrome */
  0% {
    left: 0;
  }
  100% {
    left: -615px;
  }
}
.business .business_ul {
  width: 100%;
  height: 458px;
  display: flex;
  text-align: center;
}
.business .business_ul li {
  display: inline-block;
  width: 392px;
  background-color: #F3F3F3;
}
.business .business_ul li:not(:last-child) {
  margin-right: 12px;
}
.business .business_ul li:hover {
  background: -webkit-linear-gradient(left bottom, #05ffbb, #0ad5d0);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left bottom, #05ffbb, #0ad5d0);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left bottom, #05ffbb, #0ad5d0);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to left bottom, #05ffbb, #0ad5d0);
  /* 标准的语法 */
}
.business .business_ul li:hover a {
  box-shadow: 0 6px 15px #056361;
}
.business .business_ul li:hover span,
.business .business_ul li:hover i {
  color: #fff;
}
.business .business_ul li a {
  display: block;
  width: 182px;
  height: 182px;
  margin: 52px auto 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 6px 15px #999;
}
.business .business_ul li a img {
  display: inline-block;
  margin-top: 34px;
}
.business .business_ul li a #plane {
  margin-left: 5px;
}
.business .business_ul li a #insurance {
  margin-top: 48px;
}
.business .business_ul li span {
  font-size: 30px;
  color: #666;
  font-weight: 600;
  padding-bottom: 28px;
}
.business .business_ul li i {
  font-size: 16px;
  color: #999;
  padding: 0 26px;
}
.advantage .advantage_context {
  width: 100%;
  height: 940px;
  position: relative;
}
.advantage .advantage_context img {
  position: absolute;
  left: 0;
  top: 116px;
  width: 891px;
  height: 566px;
  z-index: 10;
}
.advantage .advantage_context .shadow {
  position: absolute;
  left: 30px;
  top: 537px;
  width: 300px;
  height: 140px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-15deg) rotate(-2deg);
  -moz-transform: skew(-15deg) rotate(-2deg);
  -ms-transform: skew(-15deg) rotate(-2deg);
  -o-transform: skew(-15deg) rotate(-2deg);
  transform: skew(-15deg) rotate(-2deg);
}
.advantage .advantage_context p {
  position: absolute;
  left: 10px;
  top: 706px;
  bottom: 33px;
  line-height: 26px;
}
.advantage .advantage_context .advantage_ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 532px;
  height: 850px;
  border: 14px solid #16BCB7;
}
.advantage .advantage_context .advantage_ul ul {
  position: absolute;
  left: 230px;
  top: 86px;
  width: 285px;
  height: 608px;
  border-left: 1px solid #999999;
  counter-reset: count;
  padding-left: 18px;
  font-weight: 600;
}
.advantage .advantage_context .advantage_ul ul span {
  font-size: 24px;
  padding-bottom: 43px;
}
.advantage .advantage_context .advantage_ul ul li {
  padding-bottom: 51px;
  font-size: 16px;
}
.advantage .advantage_context .advantage_ul ul li::before {
  position: absolute;
  left: -5.5px;
  content: "●";
  color: #0DBDBD;
  height: 40px;
  width: 10px;
  line-height: 40px;
  vertical-align: middle;
}
.advantage .advantage_context .advantage_ul ul li:last-child::before {
  height: 20px;
  line-height: 20px;
}
.process {
  height: 550px;
  background-color: #02D8A4;
  margin-top: 90px;
}
.process .content {
  background: url("../images/index/process.jpg") no-repeat;
  height: 550px;
  -webkit-background-size: cover;
  background-size: cover;
}
.process .content h2 {
  color: #fff;
}
.process .content small {
  color: #e2e2e2;
}
.process .content ul {
  width: 100%;
  height: 260px;
  text-align: center;
}
.process .content ul li {
  width: 200px;
  float: left;
  position: relative;
}
.process .content ul li .consult {
  width: 74px;
  height: 71px;
  background: url("../images/sprite.png") -70px -182px no-repeat;
  margin-bottom: 5px;
}
.process .content ul li .translate {
  width: 63px;
  height: 75px;
  background: url("../images/sprite.png") 0 -20px no-repeat;
}
.process .content ul li .hospital {
  width: 70px;
  height: 83px;
  background: url("../images/sprite.png") -70px -98px no-repeat;
  margin-bottom: -6px;
}
.process .content ul li .visa {
  width: 70px;
  height: 78px;
  background: url("../images/sprite.png") 0 -98px no-repeat;
}
.process .content ul li .trip {
  width: 78px;
  height: 78px;
  background: url("../images/sprite.png") -70px -20px no-repeat;
}
.process .content ul li .treat {
  width: 74px;
  height: 73px;
  background: url("../images/sprite.png") -70px -258px no-repeat;
  margin-bottom: 6px;
}
.process .content ul li span {
  padding-top: 33px;
  color: #ffff00;
  font-size: 24px;
  font-weight: 600;
  display: block;
  padding-bottom: 66px;
}
.process .content ul li p {
  position: absolute;
  left: 50px;
  width: 115px;
  height: 55px;
  color: #fff;
  line-height: 20px;
  text-align: left;
}
.package {
  background-color: #02D8A4;
  position: relative;
}
.package #pre,
.package #last {
  bottom: 202px;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  cursor: pointer;
}
.package #pre {
  border-right: 27px solid #eeeeee;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  filter: drop-shadow(3px 0 6px rgba(102, 102, 102, 0.5));
}
.package #pre:hover {
  border-right: 27px solid #FFF68F;
  filter: drop-shadow(3px 0 6px rgba(77, 72, 20, 0.5));
}
.package #last {
  border-left: 27px solid #eeeeee;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  filter: drop-shadow(-3px 0 6px rgba(102, 102, 102, 0.5));
}
.package #last:hover {
  border-left: 27px solid #FFF68F;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  filter: drop-shadow(-3px 0 6px rgba(77, 72, 20, 0.5));
}
.package .content {
  height: 590px;
  background: url("../images/index/package.jpg") no-repeat;
}
.package .content h2 {
  color: #fff;
}
.package .content small {
  color: #e2e2e2;
}
.package .content ul {
  width: 100%;
  display: flex;
}
.package .content ul li {
  flex: 276px;
  border: 1px solid #00d18f;
  border-radius: 5px;
  padding: 38px 28px 26px;
  background-color: #f1fffa;
}
.package .content ul li:hover {
  box-shadow: 0 1px 12px rgba(26, 105, 80, 0.5);
}
.package .content ul li:not(:nth-child(4)) {
  margin-right: 32px;
}
.package .content ul li a {
  font-size: 28px;
  display: block;
  padding-bottom: 28px;
  text-align: center;
}
.package .content ul li a:hover {
  color: #ff9d9d;
}
.package .content ul li span {
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #00d6a1;
}
.package .content ul li span.title {
  font-size: 22px;
  color: #16bbb7;
  padding-bottom: 28px;
  text-align: center;
}
.package .content ul li p {
  height: 65px;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}
.package .content ul li span.price {
  font-size: 14px;
  color: #ff9d9d;
  text-align: center;
}
.information {
  height: 420px;
}
.information ul {
  width: 100%;
  display: flex;
}
.information ul li {
  flex: 1;
  position: relative;
}
.information ul li img {
  position: absolute;
  left: 0;
  top: 0;
}
.information ul li span {
  position: absolute;
  top: -3px;
  left: 208px;
  font-size: 18px;
}
.information ul li span:hover {
  color: #16bbb7;
}
.information ul li p {
  position: absolute;
  top: 35px;
  left: 208px;
  width: 370px;
}
.cooperation {
  height: 480px;
  background-color: #F8F8F8;
}
.cooperation .content {
  overflow: hidden;
}
.cooperation .content #slide {
  position: relative;
  width: 1812px;
  height: 200px;
  overflow: hidden;
  animation: myfirst 12s linear infinite alternate;
  -webkit-animation: myfirst 12s linear infinite alternate;
}
.cooperation .content #slide li {
  position: relative;
  width: 277px;
  height: 200px;
  float: left;
}
.cooperation .content #slide li:not(:last-child) {
  margin-right: 30px;
}
.cooperation .content #slide li img {
  width: 100%;
  z-index: -10;
}
.cooperation .content #slide li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  color: #fff;
}
.cooperation .content #slide li a span:hover {
  color: #16bbb7;
}
