@charset "UTF-8";
.banner {
  width: 100%;
  margin: 0 0;
}
section .summary {
  width: 100%;
  display: flex;
}
section .summary li:first-child {
  flex: 65%;
}
section .summary li:first-child p {
  line-height: 2.8em;
}
section .summary li:last-child {
  padding-left: 2%;
}
