@charset "UTF-8";
.summary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.summary li {
  flex: 100%;
  padding-bottom: 2.5%;
}
.summary li:last-child {
  padding-bottom: 0;
}
.summary li ul {
  display: flex;
  width: 100%;
}
.summary li ul li {
  padding-bottom: 0;
}
.summary li ul li:first-child {
  flex: 20%;
}
.summary li ul li:last-child {
  flex: 80%;
  padding-left: 2.7%;
}
.summary li ul li:last-child h2 {
  text-align: left;
}
.summary li ul li:last-child p {
  padding-top: 2%;
  color: #666;
}
@media screen and (max-width: 1086px) {
  .summary li ul li:last-child p {
    line-height: 2em;
  }
}
@media screen and (max-width: 849px) {
  .summary li ul li:last-child p {
    line-height: 1.5em;
  }
}
